#search {
  border-radius: 50px;
  border-color: rgb(8, 206, 189);
  color: rgb(8, 206, 189);
  padding: 5px 40px;
  background-color: whitesmoke;
  border-style: solid;
}
#plus {
  color: white;
  background: rgb(8, 206, 189);
  border-radius: 50%;
  padding: 6px 12px;
  border-style: solid;
  border-color: rgb(8, 206, 189);
  font-size: x-large;
}
#createAccount {
  color: whitesmoke;
  background-color: rgb(67, 123, 207);
  border-color: black;
  padding: 5px 30px;
  box-shadow: 4px 4px black;
}
